<div id="scriptBox">
    <textarea id="scriptEntry"></textarea>
    <div id="buttons">
        <select id="loadScript">
            <option>サンプルを選んでください</option>
        </select>
        <input type="button" value="実行！" id="execute" />
    </div>
</div>
<div id="resultBox">
    <textarea id="result"></textarea>
</div>



@section scripts
{
    <script src="~/Scripts/q.js"></script>
    <script src="~/Scripts/jsdemo.js"></script>
}
